* {
    box-sizing: border-box;
    margin: 0;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0;
    padding-left: 16%;
    padding-right: 16%;
}

.header > .contain {
    display: flex;
    justify-content: space-between;

}

.header .logo {
    font-size: 24px;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-section {
    background-color: #1F2937;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-section > .contain {
    padding-left: 16%;
    padding-right: 16%;
    color:#F9FAF8;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.hero-left {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.hero-left > h2 {
    font-size: 48px;
    font-weight: bold;
}

.hero-left > p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left button {
    max-width: 80px;
    background-color: #3882f6;
    color:#F9FAF8;
    border: none;
    border-radius: 2px;
}

.hero-right {
    border: 1px solid white;
    min-height: 200px;
    min-width: 50%; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: gray;
}

.info-section {
    background-color: #F9FAF8;
    padding-top: 25px;
    padding-bottom: 50px;
}

.info-section > .contain {
    padding-left: 20%;
    padding-right: 20%;
}

.info-section > .contain > h3 {
    text-align: center;
}

.info-cards {
    display: flex;
    gap: 1rem;
    padding-top: 25px;
}

.card > .empty-box {
    border: 2px solid #3882f6;
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

.info-cards > .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote-section > .contain > blockquote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    
}

.quote-author > p {
    font-weight: bold;
}

.action {
    background-color: #F9FAF8;
    margin-top: 50px;
}

.action > .contain {
    padding-left: 16%;
    padding-right: 16%;
}

.action-container {
    background-color: #3882f6;
    color:#F9FAF8;
    padding: 20px 20px;
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action-right > button {
    color:#F9FAF8;
    background-color: transparent;
    border: 1px solid #F9FAF8;
    border-radius: 2px;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    margin-top: 50px;
}



