* {
    box-sizing: border-box;
    margin: 0;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;

}

.header .logo {
    font-size: 24px;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 12px;
}

